.box-1{
    width: 120px;
    height: 120px;
    background-color: skyblue;
    border: 2px solid black;
 }
 .container{
    height: 100vh;
    display: flex;
    
 /* Cambia las siguientes lineas para experimentar?*/
    align-items: center;
    justify-content: center;
 }